<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title sec:authentication="name"></title>
</head>
<body>
<h1>普通用户页面</h1>
<p>点击 <a th:href="@{/}">这里</a> 返回首页</p>
<div sec:authorize="hasRole('ROLE_USER')">
    <p class="bg-info">无更多显示信息</p>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" class="btn btn-primary" value="注销"/>
</form>
</body>
</html>